.app {
  text-align: center;
}
.cart-wrapper {
  height: 125px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-left: 10%;
  box-shadow: #333 0px 1px 5px;
  margin-top: 10px;
}
.img-wrapper img {
  width: 100px;
  margin-top: -10px;
  /* box-shadow: #333 0px 1px 5px; */
  border-radius: 5px;
}
.add-to-cart img {
  width: 80px;
  position: absolute;
  right: 1%;
  top: 1%;
}
.btn-wrapper button {
  background-color: rgb(211, 73, 73);
  border: 0px;
  padding: 10px 12px;
  border-radius: 5px;
  color: white;
  box-shadow: #000 0px 1px 15px;
}
.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 20px;
}
